
<header>
   <img src="" alt="Logo Cyber Tech">
    <nav id="modal-nav">               
        <form method="post" action="/pesquisa">
            <input name="pesquisar" type="text"/> 
            <button type="submit">Pesquisar</button> 
        </form>
    </nav>
</header>

