<header>
    <div class="menu">
        <div class="logo">
            <a href="/"><img src="/img/logo.jpg"></a>
        </div>
        <div class="form_style">
            <form class="form_pesquisar" method="post" action="/pesquisa">
                <input class="input_pesquisar" name="pesquisar" type="text" />
                <button type="submit"><a href=""><img
                            src="https://img.icons8.com/ios-glyphs/32/000000/search--v1.png"></a></button>
            </form>
        </div>
        <div id="icon_container">
            <img class="icon_cart" src="https://img.icons8.com/pastel-glyph/32/000000/shopping-trolley--v1.png">

            <img class="btn_modal" src="https://img.icons8.com/windows/32/000000/menu-rounded.png">

        </div>
        <nav class="menu-items">
            <ul>
                <li id="btn_nav">
                    <a id="top_inicio" href="/"> Inicio </a>
                    <a id="top_criar" href="/criar"> Criar </a>
                </li>
            </ul>
        </nav>
    </div>
</header>